<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="1">
  <test name="MangoApps">
  <parameter name="browser" value="chrome" />
   <classes>
	<class name="tests.CreateProjectTemplateTest" />
   	<class name="tests.CreateProjectFromTemplateTest" />
   	<class name="tests.PostsTest" />
   	<class name="tests.WikiTest" />
   	<class name="tests.PagesTest" />
   	<class name="tests.FilesTest" />
   	<class name="tests.TrackerTest" />
   	<class name="tests.SurveyTest" />
   	<class name="tests.DomainSettingsTest" />
   	<class name="tests.CleanUpTest" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->